//変数ファイルの読み込み
@import "variables";

//mixinファイルの読み込み
@import "mixin";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
